{% block toggle_widget %}
    <div class="field-toggle">
        <div class="toggle-value">
            <div class="input-group">
                <label class="input-group-addon">
                    {{ form_widget(form.enabled, {attr: {class: 'field-toggle-switch'}}) }}
                </label>
                {{ form_widget(form.value, {attr: {class: 'form-control field-toggle-value'}}) }}
            </div>
            <!-- /input-group -->
        </div>
    </div>
{% endblock %}

{# Fix for BS3 @see https://github.com/sonata-project/SonataAdminBundle/issues/2630 #}
{% block checkbox_row -%}
    {{ block('form_row') }}
{%- endblock checkbox_row %}

{% block checkbox_label %}
    {{ block('form_label') }}
{% endblock checkbox_label %}
